<h1>Editing responsavel</h1>

<%= render "form", responsavel: @responsavel %>

<br>

<div>
  <%= link_to "Show this responsavel", @responsavel %> |
  <%= link_to "Back to responsavels", responsavels_path %>
</div>
