

  <p>
    <strong>Nome:</strong>
    
  </p>

  <p>
    
    <strong>Cpf:</strong>
    
    
  </p>

  <p>
    <strong>Turma:</strong>
    
  </p>

  <p>
    <strong>Telefone:</strong>
    
  </p>

  <p>
    <strong>Email:</strong>
    <%= locador.email %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= locador.cidade %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= locador.logradouro %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= locador.status %>
  </p>

</div>
