<div id="<%= dom_id objeto_emprestimo %>">
  <p>
    <strong>Objeto:</strong>
    <%= objeto_emprestimo.objeto_id %>
  </p>

  <p>
    <strong>Emprestimo:</strong>
    <%= objeto_emprestimo.emprestimo_id %>
  </p>

</div>
