<h1>Editing objeto emprestimo</h1>

<%= render "form", objeto_emprestimo: @objeto_emprestimo %>

<br>

<div>
  <%= link_to "Show this objeto emprestimo", @objeto_emprestimo %> |
  <%= link_to "Back to objeto emprestimos", objeto_emprestimos_path %>
</div>
